.Rproj.user
.Rhistory
.RData
_publish.R
_book
_bookdown_files
rsconnect
tmp-*.tex
figure/
.Rapp.history
libro-vivo-ciencia-datos.rds
libro-vivo-ciencia-datos.fls
libro-vivo-ciencia-datos.log
libro-vivo-ciencia-datos.md
libro-vivo-ciencia-datos.out
libro-vivo-ciencia-datos.tex
libro-vivo-ciencia-datos.fdb_latexmk
libro-vivo-ciencia-datos.aux
dbg_01.Rmd
libro-vivo-ciencia-datos.toc
bkp_preamble.log
bkp_texput.log
render41bf4e1e195a.rds
template.log
*.md
01_analisis_exploratorio_datos_files
02_preparacion_datos_files
03_seleccionar_mejores_variables_files
